<!-- About 7 - Bootstrap Brain Component -->
<section class="py-3 py-md-5 py-xl-8">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
        <h2 class="mb-4 display-5 text-center">About Us</h2>
        <p class="text-secondary mb-5 text-center lead fs-4">
          Welcome to our recipe blog, where the joy of cooking and the art of
          flavors come together! Our team of culinary enthusiasts and food
          experts work tirelessly to bring you a diverse collection of recipes.
          From traditional classics to innovative creations, each recipe is
          crafted to inspire and satisfy your culinary cravings. Join us on this
          delicious journey and discover your next favorite dish!
        </p>
        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle" />
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row gy-4 gy-lg-0 align-items-lg-center">
      <div class="col-12 col-lg-6">
        <img
          class="img-fluid rounded border border-dark"
          loading="lazy"
          src="/img/aboutUs.avif"
          alt="About Us"
        />
      </div>
      <div class="col-12 col-lg-6 col-xxl-6">
        <div class="row justify-content-lg-end">
          <div class="col-12 col-lg-11">
            <div class="about-wrapper">
              <p class="lead mb-4 mb-md-5">
                As passionate food enthusiasts, we are dedicated to positively
                impacting the culinary community and beyond. Through various
                initiatives and collaborations, we actively promote sustainable
                cooking practices, social welfare, and culinary education. Join
                us as we explore delicious recipes while contributing to a
                better, more flavorful world!
              </p>

              <div class="">
                <a href="/" class="btn btn-primary btn-lg"> Explore </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
